* {
				font-family: Arial, Verdana, sans-serif;
				color: #665544;
				text-align: center;}
			body {
				width: 960px;
				margin: 0 auto;}
			#content {
				overflow: auto;
				height: 100%;}
			#footer {
				padding: 10px;
				margin: 10px;}
			.column1, .column2, .column3 {
				background-color: #efefef;
				width: 33%;
				float: left;}
			li {
				display: inline;
				padding: 5px;}
			h1.index{
				margin-right: 15px;
			}
			h2.Port{
				margin-right: 15px;
			}
			p.Cont{
				text-align: left;
			}
			img{
				padding-top: 5px;
				position: relative;
				left: -20px;
			}
			p.aboutMe{
				margin-right: 100px;
				text-align: left;
			}
			h1.aboutMe{
				margin-right: 0px;
			}
			h2.aboutMe{
				margin-right: 100px;
			}


			@media screen and (max-width: 786px){
				body{
					width: 90%;
					margin: 0 auto;
					background-color: lightblue;
				}
				img{
				margin-left: 5% ;
				width: 80%;
				position: relative;
				padding-top: 10px;
				padding-bottom: 25px;
				}
				img.abMe{
				margin-left: 24% ;
				width: 60%;
				position: relative;
				padding-top: 10px;
				padding-bottom: 25px;
				padding-right: 50px;
				}
				#content {
				overflow: auto;
				width: 100%;}

				.column1, .column2, .column3{
					background-color: #efefef;
					width: 100%;
					height: 40px;
					letter-spacing: 3px;
				}
				h1.Port{
				font-size: 50px;
				margin: 0 auto;
				}
				h1.Phead{
				padding-top: 50px;
				padding-bottom: 30px;
				font-size: 60px;
				margin: 0 auto;
				}
				h1.Ahead{
				padding-top: 50px;
				padding-bottom: 30px;
				font-size: 60px;
				margin: 0 auto;
				}
				h1.aboutMe{
				padding-top: 30px;
				padding-bottom: 20px;
				font-size: 60px;
				margin: 0 auto;
				}
				p.aboutMe{
				position: relative;
				margin: 0 auto;
				text-align: center;
				padding-bottom: 30px;
				font-size: 30px;
				}
				h2.aboutMe{
				margin-right: 0px;
				font-size: 60px;
				}
				#header{
					width: 100%;
					//background-color: lightgreen;
					font-size: 20px;
				}
			}
			
			